.clear
{
    clear: both;
}

html, body
{
    background-color: #5f7dc3;
}

body
{
    font-size: 16px;
    font-family: Helvetica;
}

.wrapper
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    background-color: #243642;
    width: 100%;
    padding-top: 0.4em;
    float: left;
}

#header h1 a, #header h2 a
{
    color: #FFF;
    font-weight: bold;
    line-height: 0.6em;
    float: left;
    text-decoration: none;
    outline: 0;
}

#header h1
{
    font-size: 10em;
    letter-spacing: -.15em;
}

#header h2
{
    padding-top: .3em;
    font-size: 3em;
    margin-left: 4em;
}

#hide_extra_header
{
    margin-top: 2.5em;
    position: relative;
    background-color: #5f7dc3;
}

#main
{
    margin-top: 10px;
}

#feed_container .feed_column
{
    float: left;
    width: 32%;
    min-height: 12em;
    border: 0px dashed red;
}

.feed
{
    margin: 0 8px 16px 8px;
    border: 5px solid #FFF;
}

.feed .feed_header
{
    padding: 5px;
    background-color: #243642;
    position: relative;
}

.feed h3
{
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
}

.feed .buttons
{
    position: absolute;
    top: 3px;
    right: 3px;
}

.feed ul li
{
    border-top: 1px dotted #fff;
    padding: 2px;
    position: relative;
}

.feed a
{
    text-decoration: none;
    color: #000;
}
.feed ul li .item_info
{
    background-color: #fff;
    top: 2em;;
    left: 50%;
    min-width: 30em;
    min-height: 2em;
    color: #000;
    position: absolute;
    z-index: 4;
    border: 2px solid red;
}

.hidden
{
    display: none;
}

.feed ul li:hover
{
    background-color: #fff;
}