<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>ROFL pimp</title>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style_1.css" />
</head>
<body>
    <div id="header">
        <div class="wrapper">
            <h1><a href="#">ROFL</a></h1>
            <h2><a href="#">pimp</a></h2>
        </div>
    </div>
    <p class="clear" />
    <div id="hide_extra_header"></div>
    <div id="main">
        <div class="wrapper">
            {% block content %} {% endblock content %}
        </div>
    </div>
</body>
</html>
